/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Element Selectors */
body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

canvas {
    position: relative;
    z-index: 20;
    margin: 5.5px;
    background: white;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

p {
    color: #EEEEEE;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;

    margin: 0px;
    position: relative;
    z-index: 20;
}

button{
    margin-top: 6px;
    margin-bottom: 4px;
    padding: 5px 10px;

    background: #009199;
    border-radius: 4px;
    border: 0px;

    font-size: 18px;
    color: #EEEEEE;
    text-shadow: 1px 1px black;

    box-shadow: 0px 5px grey;

    transition: 250ms;

    /* Selection */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

button:hover{
    margin-top: 4px;
    margin-bottom: 6px;

    box-shadow: 0px 7px grey;

    background: #EEEEEE;

    color: #009199;
}

button:active{
    transition: 55ms;

    margin-top: 8px;
    margin-bottom: 2px;

    box-shadow: 0px 3px grey;

    background: #00696E;

    color: #EEEEEE;
}

input[type="color"]:disabled{
    border: 2px solid #ca0000;
}

select{
    border: 2px solid #7e7e7e;
}
select:disabled{
    border: 2px solid #ca0000;
}

/* ID Selectors */
#dropdownList {
    width: 100%;
    padding: 0px;
    margin: 0px;

    box-shadow: 0px 0px 7px black;

    position: fixed;
    z-index: 70;
    top: 75px;

    width: 100%;

    padding: 0px;
}

#topPanel {
    /* Background color shape, and position */
    z-index: 100;

    background: #EEEEEE;

    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;

    padding: 15px 0px;

    box-shadow: 0px 0px 7px black;

    /* Text */
    text-align: center;

    /* Center Buttons */
    display: flex;
    justify-content: center;
}

#buttonContainer {

    width: fit-content;
    height: fit-content;

    /* Children Grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#dropdownList li {
    list-style: none;
}

#dropdownList :nth-child(1) div.smallDropdown {
    transition-delay: 0.0s;
}

#dropdownList :nth-child(2) div.smallDropdown {
    transition-delay: 0.1s;
}

#dropdownList :nth-child(3) div.smallDropdown {
    transition-delay: 0.2s;
}

#dropdownList :nth-child(4) div.smallDropdown {
    transition-delay: 0.3s;
}

#dropdownList :nth-child(5) div.smallDropdown {
    transition-delay: 0.4s;
}

#dropdownList :nth-child(6) div.smallDropdown {
    transition-delay: 0.5s;
}

#canvasContainer {
    margin-top: 85px;
    text-align: center;
}

#test{
    height: 5000px;
}

#gridCanvas{
    cursor: crosshair;
}

#launchBtn{
    background: #ca0000;
    padding: 2px 7px;
    border: 3px solid #ff5353;
}

#launchBtn:hover{
    background: #ff5353;
    color: grey;
    border: 3px solid #ca0000;
}

#launchBtn:active{
    background: #8d0000;
    border: 3px solid #eeeeee;
}

/* Class Selectors */

.button {
    /* Background Color and Shape */
    margin: 0px 10px;
    background: #009199;
    padding: 12px 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(65, 65, 65);

    /* Text */
    color: white;
    text-align: center;

    /* Transition */
    transition: 250ms;

    /* Selection */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.button:hover {
    /* Transition */
    background: #EEEEEE;
    color: #393E46;
    cursor: pointer;
}

/* Active Button */
.active {
    background: #393E46;
}

.active:hover {
    background: #393E46;
    color: white;
    cursor: default;
}

.dropdownButton {
    /* Background Color and Shape */
    margin: 0px;
    background: white;
    padding: 12px 32px;

    /* Text */
    color: #009199;
    text-align: center;

    /* Transition */
    transition: 250ms;

    /* Selection */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;

    position: relative;
    z-index: 70;
}

.dropdownButton:hover {
    /* Transition */
    background: #646d7a;
    color: #EEEEEE;
    cursor: pointer;
}


.smallDropdown {
    background: #009199;
    font-size: 0px;
    padding: 0px;
}

.background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.canvasImage{
    display: none;
}

.slidingBackground {
    position: fixed;
    z-index: 0;
    background: url("./img/blueNebula.png") repeat;
    height: 4320px;
    width: 7680px;
    animation: slide 180s linear infinite;
}

.vertCenter{
    position: relative;
    vertical-align: middle;
}

/* Background Overrides => */
.greenBack {
    background: url("./img/greenNebula.png") repeat;
}

.purpleBack {
    background: url("./img/purpleNebula.png") repeat;
}

.redBack {
    background: url("./img/redNebula.png") repeat;
}

/* Animation */

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-4096px, -3072px, 0);
        /* The image width */
    }
}